@media screen and (max-width: 290px) { 
  .headerTitle {
    display: none;
  }
}

@media screen and (max-width: 300px) { 
  .card-fav {
    flex-direction: column;
  }
  .button-cardfav {
    flex-direction: row;
  }
  .update-button {
    margin-left: 0px;
    flex-basis: none;
    width: 100%;
  }
  .delete-button {
    margin-left: 0px;
    flex-basis: none;
    width: 100%;
  }
}

@media screen and (max-width: 363px) { 
  .appheader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 400px) { 
  .top-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-bar{
    max-width: 100%;
    margin-right: 0px;
  }

  .units-button {
    width: fit-content;
    margin-top: 20px;
  }
}

@media screen and (max-width: 460px) { 
  .forecast-hour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    justify-content: space-between;
    white-space: nowrap;
  }
  .forecast-daily {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    justify-content: space-between;
    white-space: nowrap;
  }
  .hour-drawer {
    max-height: 200px !important;
    overflow: auto !important;
  }
  .bottom-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 12px 0;
    white-space: nowrap;
  }
  .bottom-detail-drawer {
    margin: 5px;
    max-height: 200px !important;
    overflow: auto !important;
  }
}

@media screen and (max-width: 500px) {
    .temp-units {
        margin-bottom: 15px;
    }
  }

@media screen and (max-width: 530px) { 
  .background {
    background-image: url('./background/small.jpg');
  }
  .card-daily {
    margin-bottom: 20px;
  }
  .someClass {
    display: flex!important;
  }
  footer {
    margin-bottom: 50px;
  }
  .add-fav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
  }
  .addfav-bar{
    max-width: 100%;
  }
  .login {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 222px;
    padding: 0 10px;
    color: white;
  }
  .register {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 174px;
    padding: 0 10px;
    color: white;
  }
  .reset {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 403px;
    padding: 0 10px;
    color: white;
  }
}

@media screen and (max-width: 625px) { 
  .top-cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    white-space: nowrap;
    overflow: auto !important;
  }
  .nav-button a {
    display: none;
  }
  .nav .burger {
    display: block;
  }
  .burger .logo {
    display: block;
  }
  .drawer {
    display: block;
  }
}

@media screen and (max-width: 743px) { 
  .AboutUs {
    display: grid;
    grid-template-columns: 1fr;
  }
  .paper-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .background {
    background-image: url('./background/medium.jpg');
  }
}

@media screen and (min-width: 250px) { 
  .temp-detail {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 425px) { 
  .temp-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 460px) { 
  .forecast-hour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } 
  .forecast-daily {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } 
  .bottom-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 530px) { 
  .card-daily {
    margin-bottom: 100px;
  }
  footer {
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 620px) {
  .forecast-hour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .forecast-daily {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bottom-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 743px) {
  .AboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .AboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 770px) {
  .forecast-hour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }  
  .forecast-daily {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  } 
  .bottom-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1157px) {
  .AboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1417px) {
  .AboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}